html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.splashAnimation {
  display: flex;
  width: 100%;
  height: 40vh;
}

.pokeTitle {
  margin-top: 50px;
  width: 80%;
}

.loadingScreen {
  height: 100vh;
  width: 100%;
  /* padding: 40px; */
  margin: 0;
}

#root {
  text-align: center;
}

.startButton {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 40px;
  background-color: red;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.copyright {
  margin-top: 50px;
  font-size: 0.7rem;
  margin-bottom: 40px;
}

.subTitle {
  width: 450px;
}

@media only screen and (min-width: 325px) {
  .copyright {
    margin-top: 10px;
    font-size: 0.7rem;
    margin-bottom: 40px;
  }
  .startButton {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .pokeTitle {
    margin-top: 50px;
    width: 85%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-wrap: wrap; */
  }
  .subTitle {
    width: 60%;
    z-index: 4;
  }
  .splashAnimation {
    display: flex;
    width: 100%;
    height: 35vh;
  }
  .startButton {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 60px;
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .copyright {
    margin-top: 90px;
    font-size: 0.7rem;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .pokeTitle {
    margin-top: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .subTitle {
    width: 20%;
    z-index: 4;
  }
  .topBrand {
    z-index: 4;
    position: relative;
  }
  .splashAnimation {
    margin-top: -20px;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
  }
  .loadingScreen {
    text-align: center;
    height: 100vh;
    width: 100%;
    /* padding: 40px; */
    margin: 0;
  }
  .startButton {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 80px;
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .copyright {
    margin-top: 70px;
    font-size: 1rem;
    margin-bottom: 40px;
  }
}
